.de_card__price {
  margin: 10px 0 0 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #008b51;
}


.active__btn {
  width: 100%;
  padding: 8px 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #fff;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  background: var(--second-color, #ff8d08);
}

.delete__img {
  position: absolute;
  right: 20px;
  top: 20px;
}