.more-btn {
  display: block;
  margin: auto;
  margin-top: 60px;
  padding: 16px 53px;
  background-color: #ff8d08;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  border: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

//******************//
//***   MOBILE   ***//
//******************//

@media only screen and (max-width: 576px) {
  .more-btn {
    padding: 11px 33px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  .more-btn {
    padding: 11px 33px;
    font-size: 12px;
    line-height: 100%;
  }
}
