.favorite__desc {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.favorite-inner {
  padding-top: 100px !important;
}

@media only screen and (max-width: 769px) {
  .favorite-inner {
    padding-top: 55px !important;
  }
}