
.home__card-title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 59px;
  color: #008b51;
}