//* User Info as wrapper
.user-current {
  // Custom properties
  text-align: center;

  .user-current__name {
    // Margin, paddings
    margin: 0;
    margin-top: 14px;
    margin-bottom: 10px;

    // Custom styles for text
    font-size: 26px;
    color: black;
    font-family: "Gilroy";
    font-weight: 700;
    line-height: 24px;
  }

  .user-current__number {
    // Margin, paddings
    margin: 0;
    margin-top: 14px;
    margin-bottom: 10px;

    // Custom styles for text
    font-size: 20px;
    color: black;
    font-family: "Gilroy";
    font-weight: 700;
    line-height: 24px;
  }
}

//* User profile edit section
.user-info__inner {
  // Margin, paddings
  margin-top: 80px;

  .user-edit__wrapper div {
    // Custom properties
    display: flex;
    align-items: center;
  }

  .user-edit__wrapper {
    position: relative;

    // Custom properties
    display: flex;
    justify-content: space-between;

    .user-edit__file {
      position: relative;
      background-size: 135px 135px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../../public/assets/images/user-info_custom-pic.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 135px;
      height: 135px;
      border: none;
      outline: none;
      text-indent: -9999px;
      border-radius: 20px;
      cursor: pointer;
    }

    .user-edit__title {
      // Margin paddings
      margin-right: 18px;

      // Custom styles
      font-size: 28px;
      color: #000;
      font-family: "Gilroy";
      font-weight: 500;
      line-height: 24px;
    }

    .fileInputIcon {
      margin-right: 5px;
    }

    .user-edit__input {
      width: 284px;

      //   Margin, paddings
      padding: 15px 0;
      padding-left: 30px;

      border: none;
      outline: none;

      // Custom styles
      font-size: 20px;
      line-height: 24px;
      box-shadow: 0px 2px 24px 0px #0000001a;
      font-family: "Gilroy";
      color: #272727;
      border: 2px solid transparent;
      border-radius: 6px;
      transition: all 0.2s ease-in;

      &:focus {
        box-shadow: none;
        border: 2px solid #ccc;
      }

      background-image: url("../../../public/assets/images/user-info_editpen.svg");
      background-repeat: no-repeat;
      background-position: right;
      background-position: calc(100% - 17px) center;
    }

    // Class handler
    .user-edit__input.classHandler {
      border: 2px solid #00cb76;
      color: #00cb76;
    }
  }

  .button-wrapper {
    text-align: center;
  }

  .user-edit__submit {
    width: 100%;
    max-width: 224px;

    // Margin, paddings
    margin-top: 76px;
    margin-bottom: 30px;
    padding: 16px 0;

    // Custom styles, fonts
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    font-family: "Gilroy";
    box-shadow: 0px 5px 10px 0px #00000040;
    background-color: #ff8d08;
    color: #fff;

    &:hover {
      box-shadow: none;
    }

    &:active {
      background-color: #ffa641;
    }
  }
}

//* RESPONSIVENESS
// ✅1055px
@media only screen and (max-width: 1055px) {
  .user-current {
    margin-top: 30px;
    .user-current__name {
      font-size: 22px;
    }

    .user-current__number {
      font-size: 16px;
    }
  }
  //* User profile edit section
  .user-info__inner {
    display: flex;
    justify-content: center;

    .user-edit__wrapper {
      .user-edit__name {
        display: flex;
        justify-content: flex-end;
        & .user-edit__title {
          margin-right: auto;
        }
      }
      display: block;
      .user-edit__input {
        // Margin, paddings
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 13px 0;
        padding-left: 30px;

        font-size: 17px;
      }
    }
    .user-edit__submit {
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
}

// ✅429px
@media only screen and (max-width: 429px) {
  .user-current {
    margin-top: 30px;
  }

  .user-info__inner {
    .user-edit__wrapper {
      margin-top: 70px;
      .user-edit__file {
        width: 120px;
        height: 120px;
      }

      .user-edit__name {
        margin-top: 40px;
        display: block;
      }

      .user-edit__number {
        display: block;
      }

      .user-edit__input {
        width: 100%;

        // Margin, paddings
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    .user-edit__submit {
      // Margin, paddings
      padding: 12px;

      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

:where(
    .css-dev-only-do-not-override-1m62vyb
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select,
:where(
    .css-dev-only-do-not-override-1m62vyb
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload.ant-upload-select {
  width: 130px;
  height: 120px;
  display: flex;
  justify-content: center;
  border: 3px solid white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

:where(
    .css-dev-only-do-not-override-1m62vyb
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select:not(.ant-upload-disabled):hover {
  border-color: #ccc;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-upload-wrapper
  .ant-upload-list.ant-upload-list-picture
  .ant-upload-list-item,
:where(.css-dev-only-do-not-override-1m62vyb).ant-upload-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item,
:where(.css-dev-only-do-not-override-1m62vyb).ant-upload-wrapper
  .ant-upload-list.ant-upload-list-picture-circle
  .ant-upload-list-item {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
