.card {
  max-width: 222px !important;
  width: 100% !important;
  background-color: #ffffff !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12) !important;
  border-radius: 5px !important;

  &:hover {
    border: 1px solid #008b51 !important;
  }
}

@media only screen  and (max-width: 495px){
  .card {
    max-width: 200px !important;
  }
}

@media only screen  and (max-width: 440px){
  .card {
    max-width: 100% !important;
   }
  
}

@media only screen  and (max-width: 365px){
  .card {
    max-width: 100% !important;
   }
  
}

.card__img {
  width: 100%;
}

.card__like-img {
  object-fit: cover;
  object-position: center;
}

.card__inner {
  display: flex;
  align-items: center;
}

.card__city {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.card__right {
  margin-left: auto;
}

.card__view {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}

.card__view::before {
  content: "";
  display: inline-block;
  margin-right: 2px;
  width: 13px;
  height: 8px;
  background-image: url("@images/card-view-icon.svg");
  background-repeat: no-repeat;
}

.card__like {
  border: none;
  background-color: transparent;
}

.card__body {
  margin: 18px 0 0;
  padding: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #000000;
}

.card__price {
  margin: 42px 0 0 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #008b51;
}

.card__wrap {
  padding: 3px 10px 19px 16px;
}

//******************//
//***   MOBILE   ***//
//******************//

@media only screen and (max-width: 576px) {
  .card {
    max-width: 192px;
  }

  .card__view {
    display: none;
  }

  .card__wrap {
    padding: 0 3px 16px 6px;
  }

  .card__price {
    margin: 24px 0 0 0;
  }
}
