.search__inner {
  padding: 20px 0;
}

.search__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.search__select {
  display: flex;
  width: 100%;
  max-width: 965px;
  gap: 14px;
}

.select__sale {
  padding: 9px 0 9px 9px;
  border: none;
  outline: none;
  width: 100%;
  max-width: 700px;
  border: 1px solid #008b51;
  border-radius: 6px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #272727;
  cursor: pointer;
}

.select__region {
  max-width: 251px;
}

.select__money {
  max-width: 156px;
}

.search__btn a {
  text-decoration: none;
  background: #008b51;
  border-radius: 6px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  padding: 9px 40px;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .select__sale {
    padding: 8px 0 8px 8px;
    font-size: 16px;
    line-height: 26px;
  }

  .search__btn a {
    font-size: 16px;
    line-height: 32px;
    padding: 9px 30px;
  }
}
