.announ__inner {
  padding: 30px 0 100px 0;
}

.announ__title {
  margin: 0;
  margin-top: 25px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 59px;
  color: #008b51;
}
