.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.site-header {
  padding: 9px 0;
  background-color: #008b51;
  position: relative;
}

.site-haeder__inner {
  position: relative;
  display: flex;
  align-items: center;
}

.site-logo_mob {
  display: none;
}

.nav {
  margin-left: auto;
}

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
}

.new-poster {
  margin-right: 43px;

  a {
    padding: 5px 20px;
    font-family: "Gilroy";
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #008b51;
    background-color: #ffffff;
    border-radius: 6px;
  }
}

.chat-icon {
  margin-right: 20px;
  font-size: 25px;
}

.chat-icon svg {
  min-width: 25 !important;
  min-height: 25px !important;
  margin-bottom: 5px;
  color: #fff;
}

.heart-icon {
  margin-right: 15px;
  font-size: 25px;
}

.heart-icon svg {
  margin-bottom: 6px;
  color: #fff;
}

.wallet-icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 25px;
}

.wallet-icon svg {
  color: #fff;
}

// Langguage

.lang-icon {
  margin-right: 20px;
  & button {
    background-color: transparent;
    border: none;
  }
}

.user-icon {
  position: relative;

  & button {
    background-color: transparent;
    border: none;
  }
}

// drop down
.drop {
  position: absolute;
  z-index: 10;
  top: 45px;
  right: 0px;
  width: 194px;
  background-color: #ffffff;
}

.drop__info {
  display: flex;
  align-items: center;
  padding: 7px 23px 6px 15px;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #565656;
  background-color: #008b5126;

  &::before {
    content: "";
    display: inline-block;
    margin-right: 11px;
    width: 22px;
    height: 22px;
    background-image: url("@images/drop-user-img.svg");
    background-repeat: no-repeat;
  }
}

.drop__list {
  margin: 12px 12px 15px 23px;
  padding: 0;
  list-style-type: none;
}

.drop__item + .drop__item {
  margin-top: 7px;
}

.drop__link {
  display: flex;
  align-items: center;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #565656;
  text-decoration: none;

  &::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 6px;
    height: 12px;
    background-image: url("@images/drop-right-arrow.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.logout-btn {
  color: #f90000;

  &::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 6px;
    height: 12px;
    background-image: url("@images/drop-right-arrow-red.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.burger {
  position: relative;
  display: none;
  gap: 10px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
}

.burger__top,
.burger__mid,
.burger__bot {
  display: block;
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.burger__top {
  top: 7px;
}
.burger__mid {
  top: 15px;
}
.burger__bot {
  top: 23px;
}

.burger-click {
  & .burger__top,
  .burger__mid,
  .burger__bot {
    position: absolute;
    top: 13px;
    z-index: 100;
  }

  & .burger__top {
    transform: rotate(135deg) !important;
    transition: all 0.2s ease;
  }

  & .burger__mid {
    display: none;
  }

  & .burger__bot {
    transform: rotate(-135deg) !important;
    transition: all 0.2s ease;
  }
}

.model {
  position: absolute;
}

.model__inner {
  transform: translateX(-400%);
  transition: all 0.4s ease;
  background-color: #aeabab;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 20px;
  height: 100%;
  background-color: #fff;
}

.model-open {
  transition: all ease 1s;

  .close__line {
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 0.5px;
    background-color: #212529;
  }

  .burger-click {
    & .burger__top,
    .burger__mid,
    .burger__bot {
      top: 15px;
    }

    
  }

  .container {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 auto !important;
  }

  .close__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 15px;
  }

  .close__wrapper-register a ,p {
    text-decoration: underline;
    margin: 0;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 0.9em;
    color: #212529;
      }

  .close__wrapper-register p {
    text-decoration: none;
    line-height: 0;
  }

  .heart-icon {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 7px;

    p {
      margin: 0;
      font-size: 0.9rem;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      line-height: 0.9em;
      text-decoration: none;
    }
  }

  .chat-icon {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 7px;

    p {
      margin: 0;
      font-size: 0.9rem;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      text-decoration: none;
    }
  }

  .lang-icon {
    display: flex;
    align-items: center;
  }

  .burger__top,
  .burger__bot {
    display: block;
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #111;
    border-radius: 5px;
    transition: all 0.2s ease;
  }

  .model__inner {
    transform: translateX(0);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0;
    height: 100%;
    background-color: #f4f5f5;
  }

  .drop {
    position: absolute;
    z-index: 10;
    top: 45px;
    right: 0px;
    width: 194px;
    background-color: #008b51;
  }

  .chat-icon svg {
    margin-bottom: 0;
    color: #008b51;
  }

  .heart-icon svg {
    margin-bottom: 0;
    color: #008b51;
  }

  .wallet-icon svg {
    color: #008b51;
    font-size: 20px;
  }

  .nav__select {
    color: #333;
  }

  .wallet-icon {
    display: flex;
    gap: 5px;
    margin-right: 0;
  }

  .nav__list {
    background-color: #fff;
    padding:20px 15px;
    flex-direction: column;
    align-items: start;
    gap: 7px;
    margin-top: 15px;
  }

  .nav__select {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }

  .nav__select option {
    background-color: #fff;
  }

  .wallet__select option {
    margin: 0;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }

  .lang__select {
    gap: 0;
  }

  .lang__select p {
    margin: 0;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #212529;
    text-decoration: none;
  }

  .lang__btn img {
    border-radius: 50%;
    width: 27px;
    height: 25px;
  }
}

.nav__select {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 6px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  cursor: pointer;
}

.nav__select option {
  background-color: #008b51;
}

.wallet__select option {
  color: #fff;
  font-size: 15px;
}

.wallet__select option:active {
  background-color: transparent;
}

.lang__btn {
  background-color: transparent !important ;
  border: none !important;
  outline: none !important;
  padding: 0 !important;
}

.lan img {
  width: 25px !important;
}

.lang__select {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 6px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  cursor: pointer;
}

.lang__select p {
  margin: 0;
}

.user-icon img {
  width: 30px;
  height: 30px;
}

//******************//
//***   TABLET   ***//
//******************//

//******************//
//***   MOBILE   ***//
//******************//
@media only screen and (max-width: 888px) {
  .new-poster {
    margin-right: 10px;
  }

  .wallet-icon {
    margin-right: 10px;
  }

  .chat-icon {
    margin-right: 10px;
  }

  .lang__select p {
    margin: 0;
    font-size: 18px;
  }

  .user-icon img {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 780px) {
  .new-poster {
    margin-right: 20px;

    a {
      padding: 7px 20px;
      font-size: 18px;
      line-height: 20px;
    }
  }

  .model-open {
    .new-poster {
      margin-right: 20px;

      a {
        padding: 7px 20px;
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
  .chat-icon,
  .heart-icon,
  .lang-icon {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 769px) {
  .heart-icon {
    display: none;
  }

  .site-logo {
    width: 77px;
    height: 36px;
    src: url("@images/logo-mobile.svg");
  }

  .wallet-icon {
    margin-right: 10px;
    font-size: 20px;
  }

  .nav__select {
    font-size: 18px;
  }

  .chat-icon {
    font-size: 20px;
  }

  .chat-icon svg {
    margin-bottom: 5px;
  }

  .user-icon img {
    width: 25px;
    height: 25px;
  }
}

@media only screen and (max-width: 700px) {
  .new-poster {
    margin-right: 10px;

    a {
      padding: 6px 10px;
      font-size: 16px;
      line-height: 18px;
    }
  }

  .lang__select p {
    margin: 0;
    font-size: 16px;
  }

  .nav__select {
    font-size: 16px;
  }
}

@media only screen and (max-width: 493px) {
  .site-haeder {
    padding: 16px 23px;
  }

  .chat-icon {
    display: none;
  }

  .wallet-icon {
    display: none;
    margin-right: 0;
  }

  .lang-icon {
    display: none;
  }

  .site-logo {
    width: 82px;
    height: 36px;
    src: url("@images/logo-mobile.svg");
  }

  .chat-icon {
    & .nav__img {
      width: 25px !important;
      height: 25px !important;
    }
  }

  .nav__select {
    font-weight: 400;
    font-size: 18px;
  }

  .wallet-icon {
    font-size: 20px;
  }

  .user-icon {
    font-size: 20px;
  }

  .new-poster {
    a {
      padding: 4.8px 7px 4px 7px;
      font-size: 13px;
      line-height: 17px;
    }
  }
  .burger {
    display: block;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 415px) {
  .chat-icon {
    margin-right: 5px;
  }

  .user-icon img {
    width: 25px;
    height: 25px;
  }

  .site-logo {
    width: 70px;
    height: 36px;
    src: url("@images/logo-mobile.svg");
  }
}

.modal__items {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.modal__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal__list img {
  width: 22px;
  height: 22px;
}
