.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.site-header {
  padding: 9px 15px;
  background-color: #008B51;
}

.site-haeder__inner {
  position: relative;
  display: flex;
  align-items: center;
}

.site-logo_mob {
  display: none;
}

.nav {
  margin-left: auto;
}

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
}

.new-poster {
  margin-right: 43px;
  
  a {
    padding: 5px 20px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #008B51;
    background-color: #FFFFFF;
    border-radius: 6px;
  }
}

.chat-icon {
  margin-right: 30px;
  font-size: 30px;
}

.chat-icon svg {
  margin-bottom: 10px;
  color: #fff;
}

.heart-icon {
  margin-right: 30px;
  font-size: 30px;
}

.heart-icon svg {
  margin-bottom: 10px;
  color: #fff;
}

.wallet-icon {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-size: 30px;
}

.wallet-icon svg {
  // margin-bottom: 10px;
  color: #fff;
}

.lang-icon {
  margin-right: 33px;
  & button {
    background-color: transparent;
    border: none;
  }
}

.user-icon {
  position: relative;

  & button {
    background-color: transparent;
    border: none;
  }
}


// drop down
.drop {
  position: absolute;
  z-index: 10;
  top: 45px;
  right: 0px;
  width: 194px;
  background-color: #FFFFFF;
}

.drop__info {
  display: flex;
  align-items: center;
  padding: 7px 23px 6px 15px;
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #565656;
  background-color: #008b5126;

  &::before {
    content: '';
    display: inline-block;
    margin-right: 11px;
    width: 22px;
    height: 22px;
    background-image: url('@images/drop-user-img.svg');
    background-repeat: no-repeat;
  }
}

.drop__list {
  margin: 12px 12px 15px 23px;
  padding: 0;
  list-style-type: none;
}

.drop__item + .drop__item {
  margin-top: 7px;
}

.drop__link {
  display: flex;
  align-items: center;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #565656;
  text-decoration: none;

  &::before {
    content: '';
    display: inline-block;
    margin-right: 8px;
    width: 6px;
    height: 12px;
    background-image: url('@images/drop-right-arrow.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.logout-btn {
  color: #F90000;
 
  &::before {
    content: '';
    display: inline-block;
    margin-right: 8px;
    width: 6px;
    height: 12px;
    background-image: url('@images/drop-right-arrow-red.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.burger {
  position: relative;
  display: none;
  gap: 10px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
}

.burger__top, .burger__mid, .burger__bot {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.burger__top {
  top: 5px;
}
.burger__mid {
  top: 15px;
}
.burger__bot {
  top: 25px;
}

.burger-click {
  & .burger__top, .burger__mid, .burger__bot {
    position: absolute;
    top: 13px;
    z-index: 100;
  }

  & .burger__top {
    transform: rotate(135deg)!important;
    transition: all 0.3s ease;

  }
  
  & .burger__mid {
    display: none;
  }

  & .burger__bot {
    transform: rotate(-135deg)!important;
    transition: all 0.3s ease;

  }
}

.model {
  position: absolute;
  // z-index: 2;
  display: none;
}

.model__inner {
  width: 100vw;
  height: 100vh;
  background-color: #aeabab;
}

.model-open {
  display: block;
}

//******************//
//***   TABLET   ***//
//******************//

@media only screen and (max-width: 780px) {
  .new-poster {
    margin-right: 20px;
    
    a {
      padding: 7px 20px;
      font-size: 18px;
      line-height: 20px;
    }
  }
  .chat-icon, .heart-icon, .lang-icon {
    margin-right: 20px;
  }

  // .chat-icon {
  //   & .nav__img {
  //     width: 25px !important;
  //     height: 25px !important;
  //   }
  // }
}

@media only screen and (max-width: 700px) {
  .new-poster {
    margin-right: 10px;
    
    a {
      padding: 6px 10px;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

//******************//
//***   MOBILE   ***//
//******************//

@media only screen and (max-width: 576px) {
  .site-haeder {
    padding: 16px 23px;
  }

  .site-logo {
    width: 82px;
    height: 36px;
    src: url('@images/logo-mobile.svg');
  }

  .chat-icon {
    & .nav__img {
      width: 25px !important;
      height: 25px !important;
    }
  }

  .heart-icon, .lang-icon, .user-icon {
    display: none;
  }
  
  .new-poster {
    // margin-right: 41px;
    
    a {
      padding: 5px 15px;
      font-size: 14px;
      line-height: 17px;
    }
  }
  
  .burger {
    display: flex;
  }
}

@media only screen and (max-width: 415px) {
  .new-poster {
    margin-right: 10px;
    
    a {
      padding:8px 10px;
      font-size: 12px;
      line-height: 15px;
    }
  }
  .chat-icon {
    margin-right: 5px;
  }
}

.nav__select {
  padding: 9px 0 9px 5px;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 6px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  cursor: pointer;
}

.nav__select option {
  background-color: #008b51;
  border: 2px solid red;
}

.wallet__select option {
  color: #fff;
  font-size: 15px;
}

.wallet__select option:active {
  background-color: transparent;
}