.upload__inner {
  padding: 26px 0 100px 0;
}

@media only screen and (max-width: 769px) {
  .upload__inner {
    padding: 26px 0 100px 0;
  }
}

.upload__title {
  margin: 0;
  margin-top: 25px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 59px;
  color: #008b51;
}

.upload__form {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-input {
  display: none;
}
.upload__wrap {
  width: 100%;
  max-width: 570px;
  position: relative;
}

.upload__wrap + .upload__wrap {
  margin-top: 40px;
}

.upload__img {
  justify-content: center;
  gap: 35px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  color: #008b51;
  padding: 35px 0;
  cursor: pointer;
}

.upload__wrap p {
  position: relative;
  // left: ;
  top: 35%;
  margin: 0 0 5px 0;
}

.upload__region {
  width: 100%;
  padding: 18px 0px;
  border: none !important;
  outline: none !important;
  border-radius: 5px !important;
  background: #fff !important;
  color: rgba(39, 39, 39, 0.5) !important;
  font-size: 20px !important;
  font-family: Gilroy !important;
  font-weight: 300 !important;
  line-height: 100% !important;
  cursor: pointer !important;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1) !important;
}

.ant-space {
  width: 100%;
}

.ant-select-focused {
border-color: #fff !important;
}

.ant-space-item{
  width: 100% !important;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #fff;
  color: rgba(39, 39, 39, 0.5);
  font-size: 20px;
  font-family: Gilroy;
  font-weight: 300;
  line-height: 100%;
  cursor: pointer;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
}

.ant-select{
  width: 100% !important;
  // padding: 10px 0px !important;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #fff;
  color: rgba(39, 39, 39, 0.5);
  font-size: 20px;
  font-family: Gilroy;
  font-weight: 300;
  line-height: 100%;
  cursor: pointer;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
}

.ant-select-selector {
  outline: none !important;
  border:none !important;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-select-single.ant-select-lg.ant-select-show-arrow .ant-select-selection-item, :where(.css-dev-only-do-not-override-fpg3f5).ant-select-single.ant-select-lg.ant-select-show-arrow .ant-select-selection-placeholder {
  padding-inline-end: 20px;
  color: black;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-input-number-affix-wrapper input.ant-input-number-input {
  padding: 4px 0;
  font-size: 14px;
}

.address__input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 10px;
  color: rgba(39, 39, 39, 0.5);
  font-size: 18px;
  font-family: Gilroy;
  font-weight: 300;
  line-height: 100%;
  background: #fff;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
}

.ant-select-selection-item {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 10px;
  color: rgba(39, 39, 39, 0.5);
  font-size: 18px;
  font-family: Gilroy;
  font-weight: 300;
  line-height: 100%;
  background: transparent;
}

.upload__title__area {
  width: 100%;
  border-radius: 5px;
  padding: 18px 10px;

  background: #fff;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  resize: none;
}

.upload__price {
  display: flex;
  gap: 15px;
}



.phone__input {
  width: 50%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 10px;
  color: rgba(39, 39, 39, 0.5);
  font-size: 20px;
  font-family: Gilroy;
  font-weight: 300;
  line-height: 100%;
  background: #fff;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
}

.upload__btn {
  display: block;
  width: 100%;
  max-width: 570px;
  border: none;
  outline: none;
  margin-top: 40px;
  color: #fff;
  font-size: 20px;
  font-family: Gilroy;
  font-weight: 500;
  line-height: 100%;
  padding: 15px 0;
  background: var(--brand-color, #008b51);
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
}

.images__wrap {
  width: 100%;
  max-width: 570px;
  gap: 15px;
  margin-bottom: 30px;
}

.images__wrap img {
  width: 50%;
}

@media only screen and (max-width: 915px) {
  .upload__wrap p {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    margin-bottom: 10px;
  }

  .phone__input {
    width: 100%;
  }
}

.delete__img__btn {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.img__wrapper {
  width: 100%;
  max-width: 570px;
  padding: 0 !important;
  margin-bottom: 20px;
}

.img__item {
  min-width: 260px;
  max-width: 260px;
  min-height: 146.8px;
  max-height: 146.8px;
  object-fit: cover;
  object-position: center;
}

.upload__phone {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 0 5px;
  background: #fff;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  outline: none;
}

.price__input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 10px;
  color: #111;
  font-size: 16px;
  font-family: Gilroy;
  font-weight: 300;
  line-height: 100%;
  // background: #fff;
  // box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
}

.upload__button {
  background: #008b51;
  border-radius: 9px;
  outline: none;
  width: 100%;
  max-width: 570px;
  border: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.upload__button:focus {
  color: #fff !important;
}

.upload__button:hover {
color: #fff !important;
}


@media only screen and (max-width: 575px) {
  .img__item {
    min-width: 200px;
    max-width: 260px;
    min-height: 120.8px;
    max-height: 146.8px;
    object-fit: cover;
    object-position: center;
  }
}

@media only screen and (max-width: 455px) {
  .img__item {
    min-width: 180px;
    max-width: 260px;
    min-height: 100.8px;
    max-height: 146.8px;
    object-fit: cover;
    object-position: center;
  }
}

@media only screen and (max-width: 410px) {
  .img__item {
    min-width: 150px;
    max-width: 100%;
    min-height: 120.8px;
    max-height: 146.8px;
    object-fit: cover;
    object-position: center;
  }
}