.upload__inner {
  padding: 30px 0 100px 0;
}

.arrow__btn {
  width: 100%;
  max-width: 185px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 9px 34px 10px 19px;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid #008b51;
  border-radius: 6px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #008b51;
}

.upload__title {
  margin: 0;
  margin-top: 25px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 59px;
  color: #008b51;
}

.upload__form {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="file"] {
  display: none;
}

.upload__img {
  width: 100%;
  max-width: 570px;
  justify-content: center;
  gap: 35px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  color: #008b51;
  padding: 35px 0;
  cursor: pointer;
}
