.home-banner {
  background-image: url("@images/home-banner.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
}

.home-banner-wrap {
  padding: 44px 0 250px 0;
}

.banner-wrapper {
  width: 100%;
  max-width: 500px;
}

.banner-btn img {
  width: 100%;
  max-width: 25px;
}

.home-banner-inner {
  padding-top:130px;
}
.banner-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 56px;
  color: #ffffff;
}

.banner-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background: #008b51;
  border-radius: 6px;
  margin-top: 16px;
  border: none;
  position: relative;
  z-index: 999;
  padding: 16px 9px 16px 18px;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-pagination-bullet {
  background-color: #008b51 !important;
  width: 12px !important;
  height: 12px !important;
}

@media only screen and (max-width: 993px) {
  .home-banner-wrap {
    padding: 44px 0 206px 0;
  }
  .banner-title {
    font-size: 35px;
    margin-bottom: 17px;
  }

  .banner-desc {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .banner-btn {
    padding: 10px 15px;
    color: #fff;
    margin-bottom: 53px;
    cursor: pointer;
    font-size: 14px;
  }
}

@media only screen and (max-width: 769px) {
  .home-banner-wrap {
    padding: 44px 0 110px 0;
  }

  .banner-title {
    font-size: 30px;
    margin-bottom: 0px;
  }

  .home-banner-inner {
    padding-top:95px;
  }

  .banner-btn {
    display: block;
    padding: 8px 13px;
    color: #fff;
    margin-bottom: 53px;
    font-size: 13px;
  }

  .banner-btn img {
    width: 100%;
    max-width: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .banner-title {
    line-height: 46px;
  }

  .banner-btn {
    display: block;
    padding: 7px 12px;
    color: #fff;
    margin-bottom: 53px;
    font-size: 11px;
  }

  .banner-btn img {
    width: 100%;
    max-width: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .home-banner-wrap {
    padding: 44px 0 106px 0;
  }

  .banner-btn {
    display: block;
    padding: 5px 10px;
    color: #fff;
    margin-bottom: 53px;
    font-size: 10px;
  }
  .banner-title {
    font-size: 25px;
    line-height: 36px;
  }

}




