
.home-banner {
	background-image: url('../../../../public/assets/images/home-banner.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
	object-position: center;
}

.home-banner-wrap {
	padding: 44px 0 250px 0;
}

.banner-wrapper {
	width: 100%;
	max-width: 500px;
}

.banner-btn img {
	width: 100%;
	max-width: 25px;
}

.banner-title {
	font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 56px;
    color: #FFFFFF;
}


.banner-btn {
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background: #008B51;
    border-radius: 6px;
    margin-top: 16px;
    border: none;
    padding: 16px 9px 16px 18px;
}

.carousel-indicators {
	position: absolute !important;
	left: 50% !important;
	bottom: 20px !important;
	transform: translate(-50%, -50%) !important;
	z-index: 2;
	display: flex;
	justify-content: center !important;
	padding: 0;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
}

.carousel-indicators [data-bs-target] {
	width: 20px !important;
	background: #ffffff !important;
	border-radius: 50% !important;
    opacity: 1 !important;
}

.carousel-indicators .active {
    opacity: 1;
    background: #FF8D08 !important;
	color: #FF8D08;
}
@media only screen and (max-width: 993px) {
	.home-banner-wrap {
		padding: 44px 0 206px 0;
	}
	.banner-title {
		font-size: 35px;
		margin-bottom: 17px;
	}
	
	.banner-desc {
		font-size: 14px;
		margin-bottom: 25px;
	}
	
	.banner-btn {
		padding: 10px 15px;
		color: #fff;
		margin-bottom: 53px;
		font-size: 14px;
	}

	
}

@media only screen and (max-width: 769px) {
	.home-banner-wrap {
		padding: 44px 0 110px 0;
	}

	.banner-title {
		font-size: 35px;
		margin-bottom: 17px;
	}
		
	.banner-btn {
		display: block;
		padding: 8px 13px;
		color: #fff;
		margin-bottom: 53px;
		font-size: 13px;
	}

	.banner-btn img {
		width: 100%;
		max-width: 25px;
	}
}

@media only screen and (max-width: 600px) {

	.banner-title {
		line-height: 46px;
	}

	.banner-btn {
		display: block;
		padding: 7px 12px;
		color: #fff;
		margin-bottom: 53px;
		font-size: 11px;
	}

	.banner-btn img {
		width: 100%;
		max-width: 20px;
	}
}

@media only screen and (max-width: 480px) {
	.home-banner-wrap {
		padding: 44px 0 106px 0;
	}

	.banner-btn {
		display: block;
		padding: 5px 10px;
		color: #fff;
		margin-bottom: 53px;
		font-size: 10px;
	}
	.banner-title {
		font-size: 24px;
		line-height: 36px;
	}
}