.home-banner {
	background-image: url('../../../../public/assets/images/home-banner.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
	object-position: center;
}

.home-banner-wrap {
	padding: 170px 0 35px 0;
}

.banner-wrapper {
	width: 100%;
	max-width: 500px;
}

.banner-title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 51px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
	color: #ffffff;
}

.banner-desc {
	width: 100%;
	max-width: 347px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 134%;
	margin: 0;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	color: #ffffff;
}

.banner-btn {
	background: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 16px;
	padding: 12px 18px;
	color: #3996f7;
	margin-bottom: 63px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

.carousel-indicators {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: start !important;
	padding: 0;
	margin-right: 15%;
	margin-bottom: 2rem;
	margin-left: 10% !important;
}

.carousel-indicators [data-bs-target] {
	width: 20px !important;
	background: #ffffff !important;
	border-radius: 50% !important;
    // opacity: 1;
}

.carousel-indicators .active {
    opacity: 1;
    background: #fff;
}
@media only screen and (max-width: 992px) {
	.banner-title {
		font-size: 35px;
		margin-bottom: 17px;
	
	}
	
	.banner-desc {
		font-size: 14px;
		margin-bottom: 25px;
	}
	
	.banner-btn {
		padding: 10px 15px;
		color: #3996f7;
		margin-bottom: 53px;
		font-size: 14px;
	}

	.carousel-indicators {
		margin-left: 5% !important;
	}
}

@media only screen and (max-width: 768px) {

	.banner-wrapper {
		margin: 0 auto;
	}

	.banner-title {
		font-size: 35px;
		margin-bottom: 17px;
		text-align: center;
	
	}
	
	.banner-desc {
		font-size: 14px;
		margin: auto;
		margin-bottom: 25px;
		text-align: center;

	}
	
	.banner-btn {
		display: block;
		padding: 10px 15px;
		color: #3996f7;
		margin: 0 auto;
		margin-bottom: 53px;
		font-size: 14px;
		
	}

	.carousel-indicators {
		margin-left: 5% !important;
	}
}