.card-single {
  display: flex;
  column-gap: 34px;
  margin-top: 32px;
}

.card-single__pics {
  display: flex;
  width: 100%;
  gap: 30px;
}

.img-display {
  width: 100%;
}

.show-image {
  width: 100%;
  background-size: cover;
  object-fit: cover;
  object-position: center;
}

.ant-image {
  width: 100% !important;
  height: 100% !important;
}

.img-select {
  width: 100%;
  max-width: 120px;
}

.img-item + .img-item {
  margin-top: 15px;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.img-item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card-single__content {
  max-width: 470px;
  width: 100%;
}

.card-single__top {
  display: flex;
  align-items: center;
}

.card-single__time {
  display: inline-block;
  margin-right: 14px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.card-single__view {
  display: inline-flex;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}

.card-single__view::before {
  content: "";
  display: inline-block;
  margin-right: 2px;
  width: 13px;
  height: 8px;
  background-image: url("@images/card-view-icon.svg");
  background-repeat: no-repeat;
}

.card-single__share-btn {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 3px 7px 2px 10px;
  background-color: #008b51;
  border: none;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  outline: none;

  &::before {
    content: "";
    display: inline-block;
    margin-right: 7px;
    width: 23px;
    height: 23px;
    background-image: url("@images/card-single-share-icon.svg");
    background-repeat: no-repeat;
  }
}

.share-btn {
  position: absolute;
  display: none;
  bottom: -60px;
  left: -100px;
  padding: 10px;
  background-color: #ffffff;
}

.card-single__user-info {
  display: flex;
  align-items: center;
  margin-left: 88px;

  & span {
    margin-left: 10px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
  }
}

.card-single__price {
  margin-top: 16px !important;
}

.card-single__title {
  margin: 15px 0 0;
  padding: 0;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  text-transform: capitalize;
}

.card-single__text {
  height: 150px;
  margin: 10px 0 0;
  padding: 0;
  overflow-y: auto;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #111;
  text-transform: capitalize;
}

.card-single__area {
  width: 100%;
  max-width: 470px;
  margin: 10px 0;
  padding: 7px 8px;
  background-color: #f1f1f1;
  font-family: "Gilroy";
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #ababab;
  outline: none;
  border: 1px solid #ababab;
  border-radius: 10px;

  &:focus {
    outline: none;
    color: #111;
    border: 1px solid #ababab;
  }
}

.card-single__call-btn {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  background-color: #008b51;
  border-radius: 6px;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;

  &::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 24px;
    background-image: url("@images/card-call-icon.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    color: #ffffff;
  }
}

.card-single__send-btn {
  width: 100%;
  max-width: 200px;
  padding: 16px 0px;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 19px;
  color: #ffffff;
  background-color: #ff8d08;
  border-radius: 6px;
  border: none;
  text-decoration: none;

  &:hover {
    color: #ffffff;
    opacity: 0.8;
  }
}

.suggestion {
  margin-top: 60px;
}

.suggestion__title {
  margin-bottom: 37px;
  padding: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 59px;
  color: #008b51;
}

@media only screen and (max-width: 1100px) {
  .card-single {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-single__content {
    max-width: 1100px;
    width: 100%;
    margin-top: 35px;
  }

  .show-image {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
  }

  .card-single__user-info {
    margin-left: auto;
  }
  .card-single__area {
    max-width: 1100px;
  }

  .card-single__btns {
    display: flex;
    justify-content: center;
  }
}

//******************//
//***   TABLET   ***//
//******************//

@media only screen and (max-width: 769px) {
  .card-single__pics {
    gap: 15px;
  }

  .card-single {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-single__content {
    max-width: 666px;
    width: 100%;
    margin-top: 35px;
  }
}

//******************//
//***   MOBILE   ***//
//******************//

@media only screen and (max-width: 576px) {
  .card-single__top {
    column-gap: 10px;
  }

  .card-single__pics {
    gap: 14px;
  }

  .img-select {
    max-width: 90px;
    overflow: scroll;
  }

  .show-image {
    max-height: 405px;
  }

  .img-item {
    width: 100%;
    height: 100%;
    max-width: 90px;
    max-height: 90px;
    object-fit: cover;
    object-position: center;
  }

  .card-single__date {
    display: inline-block !important;
    flex-wrap: wrap;
  }

  // .card-single__share-btn {
  //   margin-left: 20px;
  // }

  .card-single__call-btn {
    // padding: 12px 16px;
    font-size: 14px;
    line-height: 17px;
  }

  .card-single__send-btn {
    // padding: 12px 55px;
    font-size: 14px;
    line-height: 17px;
  }

  .suggestion {
    margin-top: 40px;
  }

  .suggestion__title {
    margin-bottom: 9px;
    font-size: 22px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 425px) {
  .card-single__pics {
    display: flex;
    flex-direction: column-reverse;
  }

  .img-select {
    display: flex;
    max-width: 420px;
    height: 100%;
    max-height: 300px;
  }

  .img-item + .img-item {
    margin-top: 0px;
    margin-left: 5px;
  }

  .show-image {
    max-width: 400px;
    max-height: 410px;
  }

  // .card-single__share-btn {
  //   margin-left: 20px;
  // }

  .card-single__call-btn {
    padding: 4px 5px;
    font-size: 12px;
    line-height: 15px;

    &::before {
      margin-right: 10px;
    }
  }

  .card-single__send-btn {
    padding: 8px 0 0 0;
    max-width: 150px;
    font-size: 12px;
    // line-height: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .card-single__date {
    column-gap: 0;
  }

  .show-image {
    max-height: 350px;
  }

  .card-single__top {
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .card-single__user-info {
    margin-left: 0;
  }

  .card-single__share-btn {
    // margin-left: auto;
  }

  .card-single__send-btn {
    // padding: 4px 30px;
    font-size: 12px;
    line-height: 15px;
  }
}
