.heart__title {
  margin: 0;
  font-family: 'Inter' sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 15px;
  color: #008b51;
}

.heart__desc {
  margin: 0;
  font-family: 'Inter' sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.01em;
  font-weight: 700;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.heart__desc-link {
  margin: 0;
  font-family: 'Inter' sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.01em;
  font-weight: 700;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

