@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("../public/assets/fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../public/assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";

  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("../public/assets/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../public/assets/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";

  src: local("Gilroy Black"), local("Gilroy-Black"),
    url("../public/assets/fonts/Gilroy-Black.woff2") format("woff2"),
    url("../public/assets/fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("../public/assets/fonts/Gilroy-Light.woff2") format("woff2"),
    url("../public/assets/fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";

  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("../public/assets/fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("../public/assets/fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";

  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("../public/assets/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../public/assets/fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";

  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"),
    url("../public/assets/fonts/Gilroy-UltraLight.woff2") format("woff2"),
    url("../public/assets/fonts/Gilroy-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";

  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("../public/assets/fonts/Gilroy-Extrabold.woff2") format("woff2"),
    url("../public/assets/fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";

  src: local("Gilroy Heavy"), local("Gilroy-Heavy"),
    url("../public/assets/fonts/Gilroy-Heavy.woff2") format("woff2"),
    url("../public/assets/fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";

  src: local("Gilroy Thin"), local("Gilroy-Thin"),
    url("../public/assets/fonts/Gilroy-Thin.woff2") format("woff2"),
    url("../public/assets/fonts/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

// Roboto

@font-face {
  font-family: "Roboto";
  src: url("../public/assets/fonts/Roboto-Black.woff2") format("woff2"),
    url("../public/assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("../public/assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../public/assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("../public/assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("../public/assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/assets/fonts/Roboto-Thin.woff2") format("woff2"),
    url("../public/assets/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
