@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('Gilroy-Regular.woff2') format('woff2'),
        url('Gilroy-Regular.woff') format('woff');   
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    
        url('Gilroy-Bold.woff2') format('woff2'),
        url('Gilroy-Bold.woff') format('woff'),
    ;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('Gilroy-Black.woff2') format('woff2'),
        url('Gilroy-Black.woff') format('woff'),
    ;
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
      src: local('Gilroy Light'), local('Gilroy-Light'),
    
        url('Gilroy-Light.woff2') format('woff2'),
        url('Gilroy-Light.woff') format('woff'),
    ;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    
        url('Gilroy-Semibold.woff2') format('woff2'),
        url('Gilroy-Semibold.woff') format('woff'),
    ;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    
        url('Gilroy-Medium.woff2') format('woff2'),
        url('Gilroy-Medium.woff') format('woff'),
    ;
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
    
        url('Gilroy-UltraLight.woff2') format('woff2'),
        url('Gilroy-UltraLight.woff') format('woff'),
    ;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
    
        url('Gilroy-Extrabold.woff2') format('woff2'),
        url('Gilroy-Extrabold.woff') format('woff'),
    ;
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
    
        url('Gilroy-Heavy.woff2') format('woff2'),
        url('Gilroy-Heavy.woff') format('woff'),
    ;
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
    
        url('Gilroy-Thin.woff2') format('woff2'),
        url('Gilroy-Thin.woff') format('woff'),
    ;
    font-weight: 100;
    font-style: normal;
}


