@import "fonts";
@import "./components/Header/header";
@import "./pages/Home/HomeBanner/HomeBanner";
@import "./pages/Home/HomeCards/HomeCard";
@import "./components/HomeSearch/search";
@import "./components/HomeSearch/HomeSearch";
@import "./components/Footer/footer";
@import "./pages/Favorite/Favorite";
@import "./components/Cards/card";
@import "./pages/UserInfo/UserInfo";
@import "./pages/Upload/Upload";
@import "./pages/smsPage/smsPage";
@import "./pages/Register/Register";
@import "./pages/Public/Public";
@import "./pages/Messaging/Messaging";
@import "./pages/Login/Login";
@import "./components//Ads/ads";
@import "./components/Social/social";
@import "./components/ActiveCard/ActiveCard";
@import "./components/DeactiveCard/DeactiveCard";
@import "./components/CardSingle//card-single";
@import "./components/CardList/card-list";
@import "./components/BackButton/back-button";
@import "./pages/AboutUs/about-as";
@import "./pages/Announ/Announ";
@import "./pages/AnnounSearch/AnnounSearch";
@import "./pages/404/404";
@import "./pages/Edit/edit";


::-webkit-scrollbar {
	width: 5px;
	/* background-color: #7e8681; */
}

::-webkit-scrollbar-thumb {
	background: #008b51;
	border-radius: 4px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f8;
}

/**
 * SCSS class for a container element.
 *
 * This class sets the width to 100% and the maximum width to 1350px.
 * It also adds padding of 0 20px and centers the container horizontally using auto margins.
 *
 * Example usage:
 * ```
 * .container {
 *   width: 100% !important;
 *   max-width: 1350px !important;
 *   padding: 0 20px !important;
 *   margin: 0 auto !important;
 * }
 * ```
 */
.container {
  width: 100% !important;
  max-width: 1350px !important;
  padding: 0 20px !important;
  margin: 0 auto !important;
}

@media only screen and (max-width: 960px) {
  .container {
    max-width: 1140px;
  }
}

ul {
  margin: 0;
  padding: 0;

  & li {
    list-style: none;
  }
}

a {
  text-decoration: none !important;
}

.back {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(161, 155, 155, 0.375);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  position: fixed !important;
  inset-inline-end: 100px !important;
  inset-block-end: 50px !important;
  z-index: 10 !important;
  width: 40px !important;
  height: 40px !important;
  right: 35px !important;
  cursor: pointer !important;
  bottom: 100px !important;
}

//******************//
//***   MOBILE   ***//
//******************//

@media only screen and (max-width: 576px) {
  .container {
    padding: 0 16px !important;
  }
}


