@import "fonts";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100% !important;
  max-width: 1350px !important;
  padding: 0 20px !important;
  margin: 0 auto !important;
}

ul {
  margin: 0;
  padding: 0;

  & li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}

//* Scroll top button
:where(.css-dev-only-do-not-override-1m62vyb).ant-back-top
  .ant-back-top-content {
  background-color: #008b51;
  width: 50px;
  height: 50px;

  &:hover {
    background-color: rgb(1, 173, 101);
  }
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-back-top {
  right: 35px;
}

//******************//
//***   MOBILE   ***//
//******************//

@media only screen and (max-width: 576px) {
  .container {
    padding: 0 16px !important;
  }
}
