@import "fonts";
@import "./components/Header/header";
@import "./pages/Home/HomeBanner/HomeBanner";
@import "./pages/Favorite/Favorite";
@import "./components/Cards/card";
@import "./pages/UserInfo/UserInfo";
@import "./pages/Upload/Upload";
@import "./pages/smsPage/smsPage";
@import "./pages/Register/Register";
@import "./pages/Public/Public";
@import "./pages/Messaging/Messaging";
@import "./pages/Login/Login";
@import "./pages/Home/HomeCards/HomeCard";
@import "./components//Ads/ads";
@import "./components/Footer/footer";
@import "./components/Social/social";
@import "./components/HomeSearch/search";
@import "./components/HomeSearch/HomeSearch";
@import "./components/ActiveCard/ActiveCard";
@import "./components/DeactiveCard/DeactiveCard";
@import "./components/CardSingle//card-single";
@import "./components/CardList/card-list";
@import "./components/BackButton/back-button";
@import "./pages/AboutUs/about-as";
@import "./pages/Announ/Announ";
@import "./pages/404/404";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f8;
}

.container {
  width: 100% !important;
  max-width: 1350px !important;
  padding: 0 20px !important;
  margin: 0 auto !important;
}

@media only screen and (max-width: 960px) {
  .container {
    max-width: 1140px;
  }
}

ul {
  margin: 0;
  padding: 0;

  & li {
    list-style: none;
  }
}

a {
  text-decoration: none !important;
}

//* Scroll top button
:where(.css-dev-only-do-not-override-byeoj0).ant-back-top
  .ant-back-top-content {
  background-color: #008b51;
  position: absolute;
  top: -55px;
  left: 70px;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-back-top
  .ant-back-top-content {
  width: 50px;
  height: 50px;

  &:hover {
    background-color: rgb(1, 173, 101);
  }
}

@media only screen and (max-width: 800px) {
  :where(.css-dev-only-do-not-override-byeoj0).ant-back-top
    .ant-back-top-content {
    left: -10px;
  }
}

//******************//
//***   MOBILE   ***//
//******************//

@media only screen and (max-width: 576px) {
  .container {
    padding: 0 16px !important;
  }
}
