

.de_active__btn {
  width: 100%;
  padding: 8px 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #fff;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  background: var(--second-color, #ff0808);
}


